hipchaturl: "https://foo.hipchat.com/v2/room/xxxx/notification?auth_token=xxxx"
port: 8030
ngrokurl: "http://xxxxx.ngrok.io"
teamcity:
  url: "http://your.teamcity.url"
  username : "username"
  password : "password"
